/*@media (max-aspect-ratio: 1/1) query for aspect ratio*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* keeps things from getting wiggy on touch */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

body {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
}

/* hides adobe analytics white stripe */
div.adsbox {
  display: none;
}

a, button {
  cursor: pointer;
}

.banner {
  background-color: #404040;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eaeaea;
}
@media (max-width: 500px) {
  .banner {
    padding: 5px;
  }
}
.banner a#logo {
  margin-left: 10px;
  margin-right: 15px;
  margin-top: 3px;
}
.banner a#logo img {
  width: auto;
  max-height: 50px;
}
.banner h1#title {
  flex-grow: 1;
  margin-right: 10px;
  font-size: 22px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
}
.banner .social-button-bar {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.banner .social-button-bar a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}

.banner {
  flex-shrink: 0;
}
@media (max-width: 1023px) {
  .banner a#logo img {
    max-height: 30px;
  }
}
@media (max-width: 1023px) {
  .banner h1#title {
    font-size: 16px;
  }
}
@media (max-width: 1023px) {
  .banner a.story-map-link {
    display: none;
  }
}

#main {
  flex: 1;
  order: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  /* VARS */
  /* MIXINS */
  /* TOGGLE STYLING */
}
#main #map {
  flex: 1;
  background-color: white;
}
#main #map .easy-button-button {
  font-size: 18px;
}
#main #map .leaflet-popup-content {
  text-align: center;
}
#main select#category {
  position: absolute;
  z-index: 6000;
  right: 20px;
  top: 70px;
  font-size: 14px;
  padding: 5px;
  display: none;
}
@media (max-width: 900px) {
  #main select#category {
    display: block;
  }
}
#main body:not(:-moz-handler-blocked) fieldset {
  display: table-cell;
}
#main .toggle {
  box-sizing: border-box;
  margin: 0px;
  margin-right: 15px;
  font-size: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
}
#main .toggle input {
  width: 0;
  height: 0;
  position: absolute;
  left: -9999px;
}
#main .toggle input + label {
  cursor: pointer;
  margin: 0;
  box-sizing: border-box;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 4px;
  padding-left: 4px;
  position: relative;
  display: inline-block;
  border: solid 1px #DDD;
  background-color: #FFF;
  font-size: 14px;
  line-height: 120%;
  font-weight: 400;
  text-align: center;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  transition: border-color 0.15s ease-out, color 0.25s ease-out, background-color 0.15s ease-out, box-shadow 0.15s ease-out;
}
#main .toggle input + label:first-of-type {
  border-radius: 6px 0 0 6px;
  border-right: none;
}
#main .toggle input + label:last-of-type {
  border-radius: 0 6px 6px 0;
  border-left: none;
}
#main .toggle input:hover + label {
  border-color: #213140;
}
#main .toggle input:checked + label {
  background-color: #4B9DEA;
  color: #FFF;
  box-shadow: 0 0 10px rgba(102, 179, 251, 0.5);
  border-color: #4B9DEA;
  z-index: 1;
}
#main .toggle input:focus + label {
  outline: dotted 1px #CCC;
  outline-offset: 0.45rem;
}
#main div.toggle {
  position: absolute;
  z-index: 500;
  left: 60px;
  top: 10px;
}
@media (max-width: 900px) {
  #main div.toggle {
    display: none;
  }
}
#main div#legend {
  position: absolute;
  z-index: 6001;
  right: 15px;
  bottom: 15px;
  font-size: 14px;
  padding: 5px;
  display: flex;
}
#main div#legend * {
  margin-right: 5px;
}
#main div#legend div.swatch {
  width: 20px;
  height: 20px;
  opacity: 0.4;
}

/*# sourceMappingURL=main.css.map */
