$SIZE-COMPACT: "(max-width: 1023px)";
$SIZE-TINY: "(max-width: 1023px) and (max-height: 900px)";
$GLOBAL-CLASS-USETOUCH: ".touch";
/*@media (max-aspect-ratio: 1/1) query for aspect ratio*/

html {
	box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {

  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow:hidden;

  /* keeps things from getting wiggy on touch */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

}

body {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}

/* hides adobe analytics white stripe */

div.adsbox {
  display: none;
}

a, button {
  cursor: pointer;
}

@import "Banner";

.banner {
  
  flex-shrink: 0;
  display: none;
  
  a#logo {
    img {
      @media #{$SIZE-COMPACT} {
        max-height: 30px;
      }
    }
  }
  
  h1#title {    
    @media #{$SIZE-COMPACT} {
      font-size: 16px;
    }
  }
  
  a.story-map-link {
    @media #{$SIZE-COMPACT} {
      display: none;
    }
  }  
  
}

#main {

  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  width: 100%;
  max-width: 1500px;
  
  #map {
    flex: 1;  
    background: white;
    .easy-button-button {
      font-size: 18px;
    }
    .leaflet-popup-content {
      text-align: center;
    }
    .leaflet-tooltip {
      h4 {
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
  }
  
  select#category {
    position: absolute;
    z-index: 6000;
    right: 10px;
    top: 10px;
    font-size: 14px;
    padding: 5px;
    display: none;
    @media (max-width: 900px) {
      //display: block;
    }
  }
  
  @import "ToggleSwitch";
  
  div.toggle {
    display: none;
    justify-content: center;
    @media (max-width: 900px) {
      display: none;
    }
  }
  
  div#legend {
    position: absolute;;
    z-index: 6001;
    right: 15px;
    bottom: 15px;
    max-width: calc(100% - 300px);
    font-size: 14px;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    * {
      margin-right: 5px;
    }
    div.swatch {
      width: 20px;
      height: 20px;
      border-color: gray;
      border-style: solid;
      border-width: 1px;
    }
    div.caption {
    }
  }
  
  ul#territories {
    list-style-type: none;   
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    -moz-padding-start: 0px;
    -moz-padding-end: 0px;
    
    position: absolute;
    bottom: 25px;
    left: 80px;
    z-index: 1000;
    
    display: flex;
    
    & > li {
      
      border-style: solid;
      border-width: 1px;
      border-radius: 5px;
      padding-right: 5px;
      padding-left: 5px;
      margin-right: 5px;
      
      -webkit-user-select: none;  
      -moz-user-select: none;    
      -ms-user-select: none;      
      user-select: none;      
      
    }

  }
  
}
